<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flex</title>
    <link rel="stylesheet" href="flexuse.css">
</head>
<body>
    
        <div class="container">
            <div class="box">apple-1</div>
            <div class="box">apple-2</div>
            <div class="box">apple-3</div>
            <div class="box">apple-4</div>
            <div class="box">apple-5</div>
            <div class="box">apple-6</div>
            <div class="box">apple-7</div>
            <div class="box">apple-8</div>
        </div>

    
    
</body>
</html>